@using Home3__MVC.Areas.Admin.Models
@model CreateUserModel

@{
    ViewBag.Title = "CreateUser";
}

<h2>Create user</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Create new account</h4>
    <hr />
    <div>
        <span style="color: red;">*</span>
        @Html.LabelFor(m => m.Email)
        <br />
        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { data_url = Url.Action("CheckEmail", "Home", new { Area = "" }), placeholder = "example@domain.com" } })
        @Html.ValidationMessageFor(m => m.Email)
        <label id="msg"></label>
    </div>
    <div>
        <span style="color: red;">*</span>
        @Html.LabelFor(m => m.Password)
        <br />
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div>
        <span style="color: red;">*</span>
        @Html.LabelFor(m => m.PasswordConfirm)
        <br />
        @Html.EditorFor(m => m.PasswordConfirm)
        @Html.ValidationMessageFor(m => m.PasswordConfirm)
    </div>
    <div>
        <span style="color: red;">*</span>
        @Html.LabelFor(m => m.Name)
        <br />
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        <span style="color: red;">*</span>
        @Html.LabelFor(m => m.PhoneNumber)
        <br />
        @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { placeholder = "+380XX-XX-XX-XXX" } })
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>
    <div>
        @Html.LabelFor(m => m.Address)
        <br />
        @Html.EditorFor(m => m.Address)
        @Html.ValidationMessageFor(m => m.Address)
    </div>
    <div>
        @Html.LabelFor(m => m.IsAdmin)
        <br />
        <label>Admin:</label>
        @Html.RadioButtonFor(m => m.IsAdmin, true, new { @id = "option1", @checked = true })
        <label>User:</label>
        @Html.RadioButtonFor(m => m.IsAdmin, false, new { @id = "option2" })
    </div>
    <div class="submit">
        <input type="submit" value="Submit" />
    </div>

    @Html.ValidationSummary(true)
}
<br />
<div>
    @Html.ActionLink("Back to List", "DisplayUsers")
</div>
