@using Home3__MVC.Models
@model HomeViewModel

<label>Order:</label>
<br />
<p id="orderList" name="orderList">@Html.Raw(Model.OrderList)</p>
<label>Total sum:</label>
<br />
<p id="totalSum">@Model.TotalSum</p>
<label>Name:</label>
<br />
<input id="clientName" type="text" name="clientName" value="@Model.ContactInfo.Name" />
<br />
<label>Phone number:</label>
<br />
<input id="clientNumber" type="text" name="clientNumber" value="@Model.ContactInfo.PhoneNumber" />
<br />
<label>Address:</label>
<br />
<input id="clientAddress" type="text" name="clientAddress" value="@Model.ContactInfo.Address" />
<br />
<input id="makeOrder" type="submit" value="MakeOrder" data-url="@Url.Action("MakeOrder", "Home")" class="btn btn-primary" />