@using Home3__MVC.Models
@model Order
@{
    ViewBag.Title = "Bucket";
}
<div class="panel panel-default container body-content" style="height: 500px; overflow-y: auto;">
    <table id="bucketTb" class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Basis</th>
                <th>Size</th>
                <th>Sauce</th>
                <th>Ingredients</th>
                <th>Quantity</th>
                <th>Total weight</th>
                <th>Total price</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="ordItemBd">
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Pizza.Basis.Name</td>
                    <td>@item.Pizza.Size.Name</td>
                    <td>@item.Pizza.Sauce.Name</td>
                    <td>@string.Join(", ", item.Pizza.Ingredients.Select(x => x.Name).ToArray())</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Pizza.Weight * item.Quantity)</td>
                    <td>@(item.Pizza.Price * item.Quantity)</td>
                    <td>
                        <input type="button" id="@("ordItm" + item.Id)" data-url="@Url.Action("DeleteOrderItem", "Home")" value="Delete" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="sumBucket" style="margin:5px; font-weight:700;"></div>
</div>
@*<div class="container body-content" style="height: 400px; overflow-y: auto;">

</div>*@